<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <div class="center border jumbotron">
        <h1>Welcome To My Weekly Scheduler</h1>
        
        <h2>
          This is the home page for my personal weekly scheduler, but feel free
          to use it!
        </h2>
        
        <%= link_to "Log In!", "#", class: "btn btn-lg btn-primary" %>
        <%= link_to "Sign Up!", "#", class: "btn btn-lg btn-primary" %>
    </div>
  </div>
</div>